{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    {% include 'includes/form.html' %}
    <button class="btn btn-success ml-2" type="submit">Login</button>
</form>
          <small>
            <a href="{% url 'password_reset' %}" class="text-muted">Forgot your password?</a>
          </small> or 
          <a href="{% url 'signup' %}">signup</a>
{% endblock content %}