{% extends 'baseb.html' %}

{% load static %}   

{% block title %}Add a review
{% endblock title %}


{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'boardhome' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_companies' company.board.pk %}">{{ company.board.name }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'company_reviews' company.board.pk company.pk %}">{{ company.name }}</a></li>
  <li class="breadcrumb-item active">Add a review</li>
{% endblock %}

{% block content %}

  <form method="post" class="mb-4">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Add a review</button>
  </form>

  {% for review in company.get_last_ten_reviews %}
    <div class="card mb-2">
      <div class="card-body p-3">
        <div class="row mb-3">
          <div class="col-6">
            <strong class="text-muted">{{ review.created_by.username }}</strong>
          </div>
          <div class="col-6 text-right">
            <small class="text-muted">{{ review.created_at }}</small>
          </div>
        </div>
        
        Unit Address: {{ review.address }}<br>
        Length of stay: {{ review.length_of_stay }} <br>
        Move-in condition: {{ review.move_in_condition }} <br>
        Treatment ( respectful? ): {{ review.treatment }} <br>
        Response speed: {{ review.response_speed }} <br>
        Maintenance quality: {{ review.maintenance_quality }} <br>
        Security deposit returned: {{ review.security_deposit_returned }} <br>
        Is this a fair amount? {{ review.is_this_a_fair_amount }} <br>
        Would you recommend this company?: {{ review.would_you_recommend }} <br>
        Additional comments: {{ review.additional_comments }}
      </div>
    </div>
  {% endfor %}

{% endblock %}