{% extends 'baseb.html' %}
{% load humanize %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'boardhome' %}">Boards</a></li>
  <li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'new_company' board.pk %}" class="btn btn-success">Add New Company</a>
  </div>
  
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>Company</th>
        <th>Rating</th>
        <th>Reviews</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for company in companies %}
        <tr>
          <td><a href="{% url 'company_reviews' board.pk company.pk %}">{{ company.name }}</a></td>
          <td>{{ company.get_avg.overall_rating__avg|floatformat:"2" }}</td>
          <td>{{ company.replies }}</td>
          <td>{{ company.views }}</td>
          <td>{{ company.last_updated|naturalday }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    <!-- just leaving it empty for now. we will add core here soon. -->
{% endblock %}