{% extends 'baseb.html' %}
{% load static %}
{% load humanize %}

{% block title %}{{ company.name }}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'boardhome' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_companies' company.board.pk %}">{{ company.board.name }}</a></li>
  <li class="breadcrumb-item active">{{ company.name }}</li>
{% endblock %}

{% block content %}
 <div class="mb-4">
    <a href="{% url 'add_review_company' company.board.pk company.pk %}" class="btn btn-primary" role="button">Add Your Experience</a>
  </div>

  {% for review in company.get_recent_reviews %}
    <div class="card mb-2" {% if forloop.first %}border-dark{% endif %}">
    {% if forloop.first %}

      <div class="card-header text-white bg-warning py-2 px-3"><b>{{ company.name }}</b>
       
       <br><h5><b>{{ company.get_avg.overall_rating__avg }}</b> overall rating</h5>
       
       <button type="button" class="btn btn-outline-light btn-sm" data-toggle="collapse"" data-target="#detailed">more details</button>
       
       <div id="detailed" class="collapse">
       <b>{{ company.get_avg.move_in_condition__avg|floatformat:1 }}</b> - Move in Condition 
       <br><b>{{ company.get_avg.treatment__avg|floatformat:1 }}</b> - Treatment
       <br><b>{{ company.get_avg.response_speed__avg|floatformat:1 }}</b> - Response Speed Rating 
       <br><b>{{ company.get_avg.maintenance_quality__avg|floatformat:1 }}</b> - Maintenance Quality
       </div>
      </div>
    {% endif %}
      <div class="card-body p-3 bg-light mb-3">
        <div class="row">
  <!--       <div class="col-3", "w-25">
            <img src="{% static 'images/avatar.svg' %}" alt="{{ review.created_by.username }}" class="w-100">
          </div>
     -->   
          <div class="col-3">  
             <strong class="text-muted">{{ review.created_by.username }}</strong> <br>
             {{ review.created_by.student_designation }}
            <small>reviews: {{ review.created_by.reviews.count }}</small>
          </div>
              <div class="col-9 text-right">
                <small class="text-muted">{{ review.created_at|naturalday }}</small>
              </div>          
          <div class="col-10">
            <div class="row mb-3">
              <div class="col-6">
               
              </div>

            </div>
        
        <em class="mb-2 text-muted">{{ review.length_of_stay }} @ {{ review.address }}</em><br><br>
        <strong>{{ review.move_in_condition }}</strong> out of 5 move-in condition <br>
        <strong>{{ review.treatment }}</strong> out of 5 treatment  <br>
        <strong>{{ review.response_speed }}</strong> out of 5 response speed  <br>
        <strong>{{ review.maintenance_quality }}</strong> out of 5 quality of maintenance  <br><br>
        
        <strong>{{ review.security_deposit_returned }}</strong> of security deposit returned <br>
        Is this a amount fair? <strong>{{ review.is_this_a_fair_amount }}</strong> <br>
        Would you recommend? <strong>{{ review.would_you_recommend }}</strong> <br><br>
        <u>additional comments</u>:<i> {{ review.additional_comments }}</i>
            {% if review.created_by == user %}
              <div class="mt-3">
                <a href="{% url 'edit_review' review.company.board.pk review.company.pk review.pk %}" 
                  class="btn btn-outline-success btn-sm" 
                  role="button">edit</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}


   <!--<a href="{% url 'add_review_company' company.board.pk company.pk %}" class="btn btn-warning btn-block" role="button">Add Your Experience</a>-->
{% endblock %}
