{% extends 'baseb.html' %}

{% block title %}Edit review{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'boardhome' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_companies' review.company.board.pk %}">{{ review.company.board.name }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'company_reviews' review.company.board.pk review.company.pk %}">{{ review.company.name }}</a></li>
  <li class="breadcrumb-item active">Edit review</li>
{% endblock %}

{% block content %}
   <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'company_reviews' review.company.board.pk review.company.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>   
{% endblock content %}