{% extends 'base.html' %}

{% block title %}Frequently asked questions
{% endblock title %}

{% block content %}
<h1>Frequently asked questions</h1>
<br>
<h5>Q: Who is this website for? </h5>
<h5>A: Made by former syracuse students for student renters, first time renters, and any renter who would like more information before they make a decision. We are also a feedback mechanism for landlords to optimize their operations.</h5>
<br>
<h5>Q: What is Flythecoop.io? </h5>
<h5>A: To ""fly-the-coop" means to move from one's parents' home. It can also mean to escape an environment or unsuitable situation. Our website aims to help students "fly the coop", and find them a new home away from home. </h5>
<br>
<h5>Q: When did Flythecoop.io start?</h5>
<h5>A: This website went up in 2019, but really, this venture started when we asked the syracuse student body about their off campus housing experience, and every single one of them had a story to tell. </h5>
<br>
<h5>Q: Where did it all start?</h5>
<h5>A: It all started at 874 Ackerman Ave off campus in Syracuse, NY.</h5>
<br>
<h5>Q: Why did you start Flythecoop?</h5>
<h5>A: We started this to create more transparency in the student rental market. Our goal is to make renting easier for those(students) moving to a new area. We do this by providing in-depth reviews written by other(students) in the area. </h5>
<br>
<h5>Q: How does this all work?</h5>
<h5>A: It's quite simple - we interview and survey upperclassmen who have experienced several years of renting off campus, and organize it in a easily viewable format. New students moving to the area or moving off-campus can use those experiences to find the most trusted landlords and rent from them. This bypasses alot of the uncertainties / trial and error that come with renting in a new area.</h5>
{% endblock %}