{% extends 'base.html' %}

{% block title %}For students, by students{% endblock title %}

{% block content %}
<!--{% if user.is_authenticated %}
    Hi {{ user.username }}, please proceed to our <a href="{% url 'boardhome' %}">reviews section</a>
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a>
{% endif %}-->
<div class="jumbotron" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(static/images/shaw.jpg); no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <h1 class="display-4 text-light">Renters Experience</h1>
    <br><br><br><br><br><br><p class="lead text-light  font-weight-bold">Our goal is to help students better navigate the world of apartment rentals. <br>Help your student community! Share your rental experience :) </p>
    
       <br><a class="btn btn-primary btn-lg" href="{% url 'boardhome' %}"role="button">Explore Experiences</a></p></div>
<br>
<div class="container p-4 my-3 border rounded">
  <div class="row justify-content-around">
    <div class="col-sm-5">
      <h3>For Students</h3>
      <p>Between a full class schedule, student organizations, part time jobs, extracurriculars and social events, there isn't much time for much else. We're here to save you time and effort during your apartment search. Let the experiences of your student community be your guide! </p>
    </div>
    <div class="col-sm-5">
      <h3>For Landlords</h3>
      <p>Managing rental properties is a full time job. We can help make it easier. Explore our database to find honest and constructive feedback from your customers. We are also building a listing system so you can capitalize on your top ratings!</p>
    </div>
  </div>
</div>
{% endblock  %}