{% extends 'base.html' %}

{% block title %}For students, by students{% endblock title %}

{% block content %}
<!--{% if user.is_authenticated %}
    Hi {{ user.username }}, please proceed to our <a href="{% url 'boardhome' %}">reviews section</a>
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a>
{% endif %}-->
<divclass="jumbotron">
    <h1 class="display-4">Renters Experience</h1>
    <p class="lead">Our goal is to help students better navigate the world of apartment rentals. <br>Help your student community! Share your rental experience :) </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'boardhome' %}"role="button">Experiences</a></p></div>

{% endblock  %}